<section class="header">
  <a class="header__title" href="/admin">Ben's Book Notes!</a>
  <div class="header__links">
    <a
      href="https://www.linkedin.com/in/benedict-estefan-halkin-074072239"
      target="_blank"
      class="linkedin"
      >Linkedin</a
    >
    <a href="https://github.com/Bento688" target="_blank" class="github"
      >Github</a
    >
    <% if (locals.user) { %>
    <a href="/auth/logout" class="sign-in-button">Log Out</a>
    <img
      src="<%= locals.user.image_url %>"
      alt="profile picture"
      class="header-profpic"
    />
    <% } else { %>
    <a href="/auth/login" class="sign-in-button">Sign In</a>
    <% } %>
  </div>
</section>
