<section class="header">
  <h1 class="header__title">Ben's Book Notes!</h1>
  <div class="header__links">
    <a href="#" class="linkedin">Linkedin</a>
    <a href="#" class="github">Github</a>
    <a href="/login" class="admin">Sign In</a>
  </div>
</section>
