<section class="header">
  <a class="header__title" href="/admin">Ben's Book Notes!</a>
  <div class="header__links">
    <a href="#" class="linkedin">Linkedin</a>
    <a href="#" class="github">Github</a>
    <a href="/auth/login" class="admin">Sign In</a>
  </div>
</section>
