<%- include("partials/header.ejs") %>

<section class="login">
  <div class="login-form-container">
    <h2>Sign Up!</h2>
    <div class="login-button">
      <a href="/auth/google" class="login-button-link"
        ><img src="/images/icons8-google.svg" alt="google logo" />Login with
        Google</a
      >
    </div>
    <p>Log in to leave comments!</p>
  </div>
</section>

<%- include("partials/footer.ejs") %>
